.tile,
.tileActive {
    width: 90%;
    aspect-ratio: 1/1;
    background-color: #ff000080;
    box-shadow: inset 0 0 30px 10px #360000;
    /* border: 1px solid black; */
    border-radius: 1rem;
}

.tileActive {
    background-color: #03d7fc;
    box-shadow:
        inset 0 0 30px 10px #035afc,
        0 0 50px 10px #035afc;
    color: white;

}

.tile:hover,
.tileActive:hover {
    cursor: pointer;
}


@media screen and (max-width: 550px) {

    .tile,
    .tileActive {
        border-radius: 0.5rem;
    }
}