.gameContainer {
    display: flex;
    align-items: start;
    align-content: start;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 30px 0;
    color: #dedcfc;
    margin: auto;
    text-shadow: 0px 0px 20px white;
}

.board {
    display: grid;
    width: 40%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: auto;
    margin-top: 0;
}

.win {
    grid-row-start: 2;
    grid-column-start: 3;
}

.options {
    display: flex;
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.optbtn {
    border: none;
    background-color: red;
    background-color: #ff000080;
    box-shadow: inset 0 0 30px 10px #360000;
    color: #dedcfc;
    border-radius: 10px;
    padding: 1rem;
    font-size: large;
    text-transform: uppercase;
}

.optbtn:hover {
    background-color: #03d7fc;
    box-shadow:
        inset 0 0 30px 10px #035afc,
        0 0 50px 10px #035afc;
    cursor: pointer;
}

.gameover {
    width: 100%;
    text-align: center;
}

.gameover h1 {
    width: 100%;
}

.win {
    font-size: 4.2rem;
    animation: flicker 1.5s infinite alternate;
    color: #03d7fc;
    text-shadow: 0px 0px 0px #035afc;
}

/* Flickering animation */
@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 5px #AFF2FE,
            0 0 8px #9AEFFE,
            0 0 20px #86ECFE,
            0 0 45px #5DE5FD,
            0 0 55px #49E2FD,
            0 0 75px #03D7FC,
            0 0 85px #035afc;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}


@media screen and (max-width: 1200px) {
    .options {
        width: 80%;
    }

    .board {
        width: 80%;
    }

    .gameContainer {
        flex-wrap: wrap;
    }

    .history {
        margin-top: 1rem;
        width: 80%;
    }

}

@media screen and (max-width: 550px) {
    .options {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .options>* {
        width: 100%;
    }

    .board {
        width: 80%;
    }

    .gameContainer {
        flex-wrap: wrap;
    }


}