.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.history {
  width: 40%;
  aspect-ratio: 1/1;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  overflow: scroll;
  align-content: baseline;
}

.history-board {
  width: 10%;
  aspect-ratio: 1/1;
}


.history-board-row {
  display: flex;
  height: fit-content;
}

.history-tile {
  width: 20%;
  aspect-ratio: 1/1;
  background-color: red;
  border: 2px solid #02010f;
}

.history-tile.active {
  background-color: #035afc;
  border: 2px solid #02010f;

}

.hidden {
  display: none;
}

.hovered {
  filter: brightness(2);
  border: 2px solid white;
}

#out-word {
  animation: flicker 3s infinite alternate;
  color: #dedcfc;
}

/* Flickering animation */
@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    color: #dedcfc;
    text-shadow:
      0 0 20px #dedcfc,
      0 0 75px #dedcfc;
  }

  20%,
  24%,
  55% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: none;
  }
}

@media screen and (max-width: 1200px) {
  .history {
    margin-top: 1rem;
    width: 80%;
  }

  .history-board {
    width: 15%;
  }

}

@media screen and (max-width: 450px) {
  .history {
    margin-top: 1rem;
    width: 80%;
  }

  .history-board {
    width: 20%;
  }

}