.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.history {
  width: 40%;
  aspect-ratio: 1/1;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  overflow: scroll;
  align-content: baseline;
}

.history-board {
  width: 10%;
  aspect-ratio: 1/1;
}


.history-board-row {
  display: flex;
  height: fit-content;
}

.history-tile {
  width: 20%;
  aspect-ratio: 1/1;
  background-color: red;
  border: 2px solid #02010f;
}

.history-tile.active {
  background-color: #035afc;
  border: 2px solid #02010f;

}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}